<nav class="navbar navbar-dark navbar-expand-sm navbar-light bg-light fix">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active badge"> 
           <%= link_to 'RPP', root_path , class:"rm_underline nav-link"%> 
        </li>
        <li class="nav-item dropdown badge">
          <label class="label-format nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="full-text">League Of Legends</span><span class="short-text">LOL</span>
          </label>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Player review', lol_review_path , class:"rm_underline dropdown-item"%>
            <%= link_to 'Leaderboard', lol_leaderboard_path , class:"rm_underline dropdown-item"%>
          </div>
        </li>


        <li class="nav-item dropdown badge">
          <label class="label-format nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="full-text">Legends Of Runeterra</span><span class="short-text">LOR</span>
          </label>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Player review', lor_review_path , class:"rm_underline dropdown-item"%>
            <%= link_to 'Leaderboard', lor_leaderboard_path , class:"rm_underline dropdown-item"%>
          </div>
        </li>


        <li class="nav-item dropdown badge">
          <label class="label-format nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="full-text">TeamFight Tactics</span><span class="short-text">TFT</span>
          </label>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Player review', tft_review_path , class:"rm_underline dropdown-item"%>
            <%= link_to 'Leaderboard', tft_leaderboard_path , class:"rm_underline dropdown-item"%>
          </div>
        </li>


        <li class="nav-item active badge"> 
          <%= link_to 'Guides', guides_path, class:"rm_underline nav-link" %>
        </li>

        

        <% if current_user %>
        <li class="nav-item dropdown badge">
          <label class="label-format nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="full-text"><%= current_user.uid %></span><span class="short-text">User</span>
          </label>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Edit', edit_user_registration_path , class:"rm_underline dropdown-item"%>
            <%= link_to 'Logout', destroy_user_session_path , method: :delete, class:"rm_underline dropdown-item"%>
          </div>
        </li>

        <% else %>
        <li class="nav-item dropdown badge">
          <label class="label-format nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="full-text">Account</span><span class="short-text">Account</span>
          </label>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Login', new_user_session_path , class:"rm_underline dropdown-item"%>
            <%= link_to 'Sign up', new_user_registration_path , class:"rm_underline dropdown-item"%>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
   </div>
  </nav>
