<%= content_for :body do %>
<main style="background-color: #140e30">
  <br>
  <h1 style="text-align:center; color: white;">Guides</h1>
  <br>
  <div style="padding-left:20px; padding-right:20px">
  <table id="guides" class="table" style="background:rgba(61, 76, 218, 0.5);">
    <thead>
      <tr>
        

        <th style="font-size: 23px;"> Title </th>
        <th><%= link_to "Champion", :sort => "champ_name"%> </th>
        <th style="font-size: 23px;"> Role </th>
        <th style="font-size: 23px;"> Creator </th>
        <th><%= link_to "Creation date", :sort => "created_at"%> </th>
        <th style="font-size: 23px;"> Rating </th>
        <th style="font-size: 23px;"> More Info </th>
      </tr>
    </thead>  
    <tbody>
      <% @guides.each do |guide| %>
        <tr>
          <th> <%= guide.title%> </th>
          <th> <%= guide.champ_name%> </th>
          <th> <%= guide.champ_role%> </th>
          <th> <%= link_to guide.user.uid, user_path(guide.user)%> </th>
          <th> <%= guide.created_at%> </th>
          <th> <%= guide.avg_reviews%></th>
          <th> <%= link_to "Details", guide_path(guide)%> </th>
        </tr> 
      <% end %>
    </tbody>
    </table> 
    </div> 
  <br>
  <div style="text-align: center"><%= link_to "Add new guide", new_guide_path %></div>
</main>
<% end %>

