<%= content_for :body do %>
<main style="background-color: #140e30; color: white">
  <br><br>

  <div class="d-flex justify-content-center align-items-center h-100">
  <nav class="navbar navbar-expand-lg navbar-dark riquadro">
  <!-- Container wrapper -->
            <div class="container-fluid container_centrato">

              <!-- Collapsible wrapper -->
              <div class="w-auto">


  <% if @guide.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

    <ul>
      <% @guide.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <h2> New guide creation</h2>
  <%= form_with model: @guide do |form| %>
  <%= render partial: "guide_form", locals: { form: form } %>
  <%= submit_tag 'Save Changes' %> 
  <% end %>



  </div>
</div>
</nav>
</div>
</main>    
<% end %>    