<%= content_for :body do %>
<main style="background-color: #140e30; color: white; padding-left: 10px">
  <br>
  <h2 style="text-align:center; color:#b92208"><%= @guide.title%></h1>
  <div style="padding-left:20px">
  <%= link_to "Back to guide list", guides_path %></div>
  <br>
  <div class="border_guida">
  <h3 class="container_centrato"> Details</h2>
	
	<ul id="details">
		<li>
			Champion:
			<%= @guide.champ_name%></li>
		<li>
			Role:
			<%= @guide.champ_role%></li>
		<li>
			Creation date:
			<%= @guide.created_at.strftime("%B %d, %Y")%></li>  
		<li>
			Creator:
			<th> <%= link_to @guide.user.uid, user_path(@guide.user)%> </th>	
	</ul></div>		      

	<div class="border_guida">
	<h3 class="container_centrato"> Description</h3>
	<p class="guida_testi" id="description"><%= @guide.guida%></p></div>


	<div class="border_guida">
	<h3 class="container_centrato"> Building details</h3>

	<p class="guida_testi" id="rune">
	Runes:
	<%= @guide.champ_rune%></p>

	<p class="guida_testi" id="skill">
	Skills order:
	<%= @guide.skill_order%></p>

	<p class="guida_testi" id="item">
	List of items:
	<%= @guide.item%></p></div>

	<div class="border_guida">
	<h3 class="container_centrato"> Matchups: </h3>

	<p class="guida_testi" id="ideal">
	Ideal:
	<%= @guide.ideal%></p>

	<p class="guida_testi" id="counter">
	Counter:
	<%= @guide.counter%></p></div>

	<% if user_signed_in? && (@guide.user_id == current_user.id || current_user.admin?) %>
	
	<br>
	<div style="padding-left:20px">
	<%= link_to "Edit info", edit_guide_path(@guide) %> - <%= link_to "Delete", guide_path(@guide), :method => :delete %></div>
	<br>
	<% end %>
	

	<hr class="rounded">
	<div style="padding-left:20px">
	<%= link_to 'Add review', new_review_path(:guide_id => @guide) %></div>



	<h3 style="padding-top: 20px; text-align:center;">Reviews</h3>
	<br>
   	<% if @guide.review.empty? %>
	<p>No reviews yet</p>
		
 	<% else %>
	<% if can? :read, Review %>
	<div style="padding-left:20px; padding-right:20px">
		<table id="reviews" class="table" style="background:rgba(61, 76, 218, 0.5);">
    <thead>
      <tr>
        <th> Username </th>
        <th> Comment </th>
        <th> Rating </th>
		<th> Delete </th>
      </tr>
    </thead>  
    <tbody>
      <% @guide.review.each do |review| %>
        <tr>
          <th> <%= link_to review.user.uid, user_path(review.user)%> </th>
          <th> <%= review.comment%> </th>
          <th> <%= review.rating%> </th>
		  <th><% if user_signed_in? && (review.user == current_user || current_user.admin?) %>
				<%= link_to "Delete", review_path(:id => review.id,:guide_id => @guide), :method => :delete %>
			<% end %>
		  </th>
        </tr> 
      <% end %>
    </tbody>
    </table>
	</div>  
	<% else %>
		<b>You don't have the rights to read reviews.</b>
	<% end %>
	<% end %>	
<br/><br/>



</main>    
<% end %> 