<!DOCTYPE html>
<html>
  <head>
    <title>RPP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  </head>

  <body>
    <%= render "shared/nav" %>
    
    <% flash.each do |type, msg| %>
      <br>
      <div style="text-align: center; font-size: 20px">
        <%= msg %>
      </div>
      <br>
    <% end %>

    <%= yield :body %>
    <%= render "shared/footer" %>  
  </body>
</html>
